@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;;
}

.sidebar {
    background: #161A1D;
    grid-template-columns: 1 / 2;

    display: flex;
    flex-direction: column;
    
}

li {
    color: #F5F3F4;
    list-style-type: none;
    font-family: Roboto;
    padding: 10px;
    font-weight: bold;
}

.dashboard-title {
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-rows: 1fr / 5fr;
}

.header {
    background: #A4161A;
    grid-row: 1 / 2;
}

.main-content {
    background: #F5F3F4;
    grid-row: 2 / 6;
}