* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    background-color: #E7ECEF;
}

.page {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;;
    width: 80%;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
}

.sidebar {
    background: #6096BA;
    grid-template-columns: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.dashboard-title > li {
    font-size: 24px;
    padding: 24px;
}

.dashboard-title:hover {
    cursor: pointer;
}

.basic-functions, .basic-settings {
    margin-top: 35px;
}

.basic-functions > li:hover, .basic-settings > li:hover {
    cursor: pointer;
    background: #5c91b4;
}

.basic-settings {
    margin-top: auto;
}

.sb-item {
    display: flex;
    align-items: center;
    gap:  25px;
    color: #F5F3F4;
    list-style-type: none;
    font-family: Roboto;
    padding: 12px;
    padding-left: 15px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
}

.header {
    background: #A3CEF1;
    grid-row: 1 / 2;
    grid-column: 1;
}

.main-content {
    background: #E7ECEF;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
}

.trend-announce {
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    padding: 0 20px 0 20px;
} 

.feed {
    background-color: white;
    flex: auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding: 1em 2em;
}



.af-list {
    display: grid;
    grid-row: 1 / 4;
    background: rgb(188, 187, 187);
    gap: 1px;
}

.af-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    
    background: white;
}

.top-row {
    
}

.af-title {
    font-weight: bold;
    font-size: 14px;
}

.af-content {
    font-size: 0.8em;
    color: rgb(125, 125, 125);
}

.title {
    display: flex;

    font-family: Roboto;
    font-weight: bold;
    justify-content: start;
    align-items: flex-end;
    padding-bottom: 10px;
}

.ta-top {
    grid-row: 1 / 2;
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.a-top {
    grid-row: 1 / 2;
    grid-column: 1;
}

.a-bottom {
    grid-row: 2 / 3;
    grid-column: 1;

    display: flex;
}

.ta-bottom {
    grid-row: 2 / 3;
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.t-top {
    grid-row: 1 / 2;
    grid-column: 1;
}

.t-bottom {
    grid-row: 2 / 3;
    grid-column: 1;

    display: flex;
}